* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05rem;
    margin: 0.2rem 0.2rem;
    background-color: #dfdfdf;
}

h1,
h2 {
    color: #020944e7;
}

.auth-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.container {
    display: grid;
    text-align: center;
    margin: 1.5rem 0;

    grid-template-rows: auto;
    grid-template-areas:
        'header'
        'body'
        'footer';
    min-height: 100vh;
}

.header {
    margin: 0.3rem 0.3rem;
    grid-area: header;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 99%;
    display: flex;
    background-color: #4c59ce;
}

.header li {
    display: inline;
    margin-right: 1rem;
    font-size: large;
}

.header a {
    color: white;
}

.header a:hover {
    color: rgb(154, 211, 230);
}

.header a:active {
    color: black;
}

a {
    text-decoration: none;
    color: #0a135fe7;
    font-weight: bold;
}

a:hover {
    color: #3e4797e7;
}

a:active {
    color: #3576b3;
}

.body {
    grid-area: body;
    padding: 0.5rem;
    margin: 1rem 0rem;
}

button {
    margin: 0.3rem 0;
    font: inherit;
    cursor: pointer;
    background-color: #000c77e7;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #000c77e7;
    border-radius: 4px;
    font-weight: bold;
}

button:hover,
button:active {
    background-color: #343e99;
    border-color: #343e99;
}

.search-container,
.history-container,
.favorites-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        'main-head'
        'body-header'
        'body-body';
}

.main-head {
    margin: 1rem 0;
    text-align: center;
    align-self: flex-start;
    grid-area: main-head;
}

.search-header,
.history-header,
.favorites-header {
    text-align: center;
    grid-area: body-header;
}

.search-body,
.history-body,
.favorites-body {
    grid-area: body-body;
    display: flex;
    justify-content: center;
}

.search-input {
    height: 5.5vh;
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.2rem;
    border: 1px solid #3461dd;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.05rem;
}

.search-input:focus {
    outline: none !important;
    border: 1px solid #3461dd;
    box-shadow: 0 0 10px #719ece;
    color: black;
}

.search-column,
.history-column,
.favorites-column {
    margin: 1rem 1rem;
    text-align: left;
}

.search-column h2,
.history-column h2,
.favorites-column h2 {
    margin: 0rem 2.5rem;
    font-size: 1.7rem;
    color: #040a35e7;
}

.search-column li,
.history-column li,
.favorites-column li {
    margin: 0.5rem 0rem;
    font-size: large;
    list-style: none;
}

.footer {
    grid-area: footer;
    padding: 1rem 1rem;
    background-color: #333fac;
    width: 98vw;
    align-self: flex-end;
}

.footer span {
    font-size: 1.4rem;
}

.link {
    margin: 0 0 0 1rem;
    font-size: 1.4rem;
    color: black;
}

.link:hover {
    color: rgb(118, 176, 196);
}

.link:active {
    color: white;
}

.catalog-image {
    margin: 0.5rem 0.5rem;
}
